00-supporting-files/data/flattened_wikipedia.json filter=lfs diff=lfs merge=lfs -text
00-supporting-files/data/draft_data/german_episodes_embedded.json !text !filter !merge !diff
00-supporting-files/data/flattened_wunschliste.json !text !filter !merge !diff
